

.headerWrapper p {
  font-family: 'PT Root UI', sans-serif !important;

}


.genericText {
  font-family: 'PT Root UI', sans-serif !important;
}

@media (max-width: 992px) {
  .headerWrapper {
    padding: 1rem;
  }
}

@media (min-width: 992px) {
  .headerWrapper {
    max-width: 70vw;
    margin-left: auto;
    margin-right: auto;
  }
}


