

.headerWrapper p {
  font-family: 'PT Root UI', sans-serif !important;
  font-weight: 600;
  letter-spacing: -0.5px;
  line-height: 28px;
}

.genericText {
  font-family: 'PT Root UI', sans-serif !important;
  font-size: 1.25rem;
}

@media (max-width: 992px) {
  .headerWrapper {
    padding: 1rem;
  }
}

@media (min-width: 992px) {
  .headerWrapper {
    max-width: 70vw;
    margin-left: auto;
    margin-right: auto;
  }
}


