@import url('https://fonts.googleapis.com/css2?family=Londrina+Solid&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');


@font-face {
  font-family: 'pt_root_uimedium';
  src: url('PT Root UI_Medium-webfont.woff') format('woff');

  font-weight: normal;
  font-style: normal;
}

/* noun color: #d63c5e */
* {
  box-sizing: border-box;
  font-size: 1rem;
  font-family: 'PT Root UI', sans-serif !important;
  font-weight: 600;
}

body {
  padding: 0px;
  margin: 0px;
  font-family: 'pt_root_uimedium';
  overflow-x: hidden;
  height: auto;
  width: 100%;
}
.nouns-canvas {
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
}

.splash-screen {
  z-index: 999;
  padding: 0px;
  margin: 0px;
  /* font-family: 'SF Pro Text', 'SF Pro Icons', 'Helvetica Neue', 'Helvetica',
    'Arial', sans-serif; */
  /* background-color: #e2e1de; */
  overflow-x: hidden;
  height: 100%;
  width: 100%;
  position: fixed;
  background-color: #a0a0a0;
  top: 0;
  left: 0;
}

.ready-button {
  position: fixed;
  top: 50%;
  left: 50%;
}

.no-padding-margin {
  padding: 0px;
  margin: 0px;
}

.nouns-logo {
  /* width: 100%;
  height: 100%; */
  max-width: 100%;
  max-height: 100%;
  margin-left: 20px;
  margin-top: -10px;
}

.nouns-logo-container {
  max-width: 100%;
  max-height: 100%;
}

.open-menu-container {
  z-index: 99 !important;
  position: fixed;
  top: 20px;
  right: 20px;
  touch-action: manipulation;
  font-size: 1rem;
}

.logo-container {
  z-index: 99 !important;
  position: fixed;
  top: 0;
  left: 0;
  height: 100px;
}

.credit-container {
  z-index: 99 !important;
  position: fixed;
  bottom: 0;
  right: 0;
  padding: 0px;
  margin: 0px 10px 0px 0px;
  font-size: 1em;
}

.white-font {
  color: black;
}

.attribute-select-box {
  border-radius: 10px;
  display: inline-block;
  overflow: hidden;
  background: #d63c5e;
  border: 1px solid #d63c5e;
  color: white;
  padding: 5px;
  cursor: pointer;
  width: 100%;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  font-family: 'Londrina Solid';
}

.attribute-select-box:hover {
  border-radius: 10px;
  display: inline-block;
  overflow: hidden;
  background: #d8234b;
  color: white;
  padding: 5px;
  cursor: pointer;
  width: 100%;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.noun-button {
  width: 9em;
  height: 40px;
  border: none;
  outline: none;
  color: #fff;
  background: #d63c5e;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
  font-size: 1em;
  touch-action: manipulation;
  user-select: none;
}

.noun-button:hover {
  background: #c03453;
}

.disabled-random-noun-button {
  width: 9em;
  height: 40px;
  border: none;
  outline: none;
  color: #fff;
  background: #c75c73;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
  font-size: 1em;
  touch-action: manipulation;
  user-select: none;
  cursor: wait !important;
}

.disabled {
  width: 9em;
  height: 40px;
  border: none;
  outline: none;
  color: #fff;
  background: #c75c73;
  position: relative;
  z-index: 0;
  border-radius: 10px;
  font-size: 1em;
  touch-action: manipulation;
  user-select: none;
  cursor: wait !important;
}

.attribute-select-box > option {
  background: #d63c5e;
  color: white;
  cursor: pointer;
  font-family: 'Londrina Solid';
}

.attribute-select-box option:hover {
  background: #d63c5e;
  color: white;
  cursor: pointer;
}

.attributes-close-container {
  cursor: pointer;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 9999999;
}

.show-menu-button {
  border-radius: 10px;
  display: inline-block;
  overflow: hidden;
  background: #d63c5e;
  border: 1px solid #d63c5e;
  color: white;
  padding: 8px;
}

.toggle {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 62px;
  height: 32px;
  display: inline-block;
  position: relative;
  border-radius: 50px;
  overflow: hidden;
  outline: none;
  border: none;
  cursor: pointer;
  background-color: #707070;
  transition: background-color ease 0.3s;
}

.toggle:before {
  content: 'on off';
  display: block;
  position: absolute;
  z-index: 2;
  width: 28px;
  height: 28px;
  background: #fff;
  left: 2px;
  top: 2px;
  border-radius: 50%;
  font: 10px/28px Helvetica;
  text-transform: uppercase;
  font-weight: bold;
  text-indent: -22px;
  word-spacing: 37px;
  color: #fff;
  text-shadow: -1px -1px rgba(0, 0, 0, 0.15);
  white-space: nowrap;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  transition: all cubic-bezier(0.3, 1.5, 0.7, 1) 0.3s;
}

.toggle:checked {
  background-color: #d63c5e;
}

.toggle:checked:before {
  left: 32px;
}

a {
  color: #d63c5e;
}

.mobile-show-menu-button {
  position: fixed;
  bottom: 10px;
  right: 100px;
  z-index: 99 !important;
  border-radius: 10px;
  display: inline-block;
  overflow: hidden;
  background: #d63c5e;
  border: 1px solid #d63c5e;
  color: white;
  padding: 8px;
}

/* @media (max-width: 576px) {
  .options-container {
    z-index: 99 !important;
    position: fixed;
    padding: 10px;
    bottom: 0;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.5);
    display: block;
    overflow: auto;
    font-size: 1rem;
  }
} */


.progress {
  width: 300px;
}

.elementToFadeInAndOut {
  height: 100vh;
  width: 100vw;
  background: black;
  -webkit-animation: fadeinout 2s linear forwards;
  animation: fadeinout 2s linear forwards;
}

@-webkit-keyframes fadeinout {
  0% {
    opacity: 1;
  }
  75% {
    opacity: 0.5;
  }
  100% {
    opacity: 0;
  }
}

@keyframes fadeinout {
  0% {
    opacity: 1;
  }
  75% {
    opacity: 0.5;
  }
  100% {
    opacity: 0;
  }
}

.progress-bar {
  background-color: #000000 !important;
}

.directions-popup {
  z-index: 100 !important;
  position: fixed;
  padding: 10px;
  top: 12.5%;
  right: 37.5%;
  width: 25vw;
  max-height: 75vh;
  background-color: rgba(255, 255, 255, 0.7);
  font-size: 1rem;
  border-radius: 10px;
  padding: 25px;
  overflow-y: auto;
  scrollbar-width: none;
  text-align: center;
}

.close-directions-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.blocker {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  content: ' ';
  background: rgba(0, 0, 0, 0.2);
}

@media (max-width: 768px) {
  .directions-popup {
    z-index: 100 !important;
    position: fixed;
    padding: 10px;
    top: 15%;
    right: 6.25%;
    text-align: center;
    width: 87.5vw;
    max-height: 65vh;
    background-color: rgba(255, 255, 255, 0.7);
    font-size: 1rem;
    border-radius: 10px;
    padding: 25px;
    overflow-y: auto;
    scrollbar-width: none;
    overflow-x: hidden;
  }
  .nouns-logo {
    /* width: 100%;
  height: 100%; */
    max-width: 90%;
    max-height: 90%;
    margin-left: 10px;
    margin-top: -10px;
  }
}

.toggle-wrap {
  display: flex;
  align-items: center;
  
}

.toggle-button {
  background-color: #747474;
  border: none;
  border-radius: 0px 4px 4px 0px;
  padding: 5px 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-left: 0px;
  color:white;
  /*border: 2px solid black;*/
  border:1px solid rgb(128, 128, 128);
  border-left: none;
  font-size: small;
}

.toggle-button.active {
  background-color: #00c7d1;
  color: black;
  /*border: 2px solid black;*/
  border:1px solid rgb(128, 128, 128);
  border-left: none;
}

.toggle-button-title {
  background-color: #ffffff;
  border:1px solid rgb(128, 128, 128);
  border-radius: 4px 0px 0px 4px;
  padding: 5px 10px;
  transition: background-color 0.3s ease;
  font-size: small;
}

.special-footer-button {
  width: 49%;
}

.special-font-style{
  font-family:'Press Start 2P'!important;
}