.initial-progress-loader {
  background-color: rgba(0, 0, 0, 0.8);
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2147483647;
  justify-content: 'center';
  align-items: 'center';
  display: 'flex';
}
