/* @import url('https://fonts.googleapis.com/css2?family=Londrina+Solid&display=swap'); */
* {
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
}

body {
  padding: 0px;
  margin: 0px;
  /* font-family: 'SF Pro Text', 'SF Pro Icons', 'Helvetica Neue', 'Helvetica',
    'Arial', sans-serif; */
  /* background-color: #e2e1de; */
  overflow-x: hidden;
  height: 100%;
  width: 100%;
}

.full-width {
  height: 100vh;
  width: 100vw;
}

/* 
main {
  align-content: center;
  box-sizing: border-box;
  display: grid;
  font-family: 'SF Pro Text', 'SF Pro Icons', 'Helvetica Neue', 'Helvetica',
    'Arial', sans-serif;
  hyphens: auto;
  line-height: 1.65;
  margin: 0 auto;
  max-width: 680px;
  min-height: 100vh;
  padding: 72px 0;
  text-align: center;
} */

.nouns-canvas {
  height: 100%;
  width: 100%;
  /* background-color: #000000; */
}

.no-padding-margin {
  padding: 0px;
  margin: 0px;
}

.nouns-logo {
  max-width: 100%;
  max-height: 100%;
  padding: 10px;
}

.nouns-logo-container {
  max-width: 100%;
  max-height: 100%;
}

.options-container {
  z-index: 99 !important;
  position: fixed;
  padding: 10px;
  top: 0;
  right: 0;
  background-color: rgba(255, 255, 255, 0.5);
  display: block;
  overflow: auto;
}

.logo-container {
  z-index: 99 !important;
  position: fixed;
  top: 0;
  left: 0;
  height: 100px;
}

.credit-container {
  z-index: 99 !important;
  position: fixed;
  bottom: 0;
  right: 0;
  padding: 0px;
  margin: 0px;
}

.white-font {
  color: black;
}
