/* Position and sizing of burger button */
.bm-burger-button {
  position: fixed;
  width: 36px;
  height: 30px;
  right: 36px;
  top: 36px;
}

/* Color/shape of burger icon bars */
.bm-burger-bars {
  background: #373a47;
}

/* Color/shape of burger icon bars on hover*/
.bm-burger-bars-hover {
  background: #a90000;
}

/* Position and sizing of clickable cross button */
.bm-cross-button {
  height: 24px;
  width: 24px;
}

/* Color/shape of close button cross */
.bm-cross {
  background: #bdc3c7;
}

/*
  Sidebar wrapper styles
  Note: Beware of modifying this element as it can break the animations - you should not need to touch it in most cases
  */
.bm-menu-wrap {
  position: fixed;
  height: 100%;
}

/* General sidebar styles */
.bm-menu {
  background: #373a47;
  padding: 2.5em 1.5em 0;
  font-size: 1.15em;
}

/* Morph shape necessary with bubble or elastic */
.bm-morph-shape {
  fill: #373a47;
}

/* Wrapper for item list */
.bm-item-list {
  color: #b8b7ad;
  padding: 0.8em;
}

/* Individual item */
.bm-item {
  display: inline-block;
}

/* Styling of overlay */
.bm-overlay {
  background: rgba(0, 0, 0, 0.3);
}

#menu-canvas-container {
  position: fixed;
  right: 0;
  top: 0;
  width: 7vw;
  height: 7vh;
}

.attribute-label {
  font-size: 1.125em;
}

.attribute-row {
}

.attribute-column {
  display: flex;
  margin-bottom: 10px;
}

.trait-dropdown-container {
  width: 100%;
}

.trait-select-box {
  padding-left: 50px;
  height: 40px;
  color: white;
  position: relative;
  width: 100%;
  display: block;
  border-radius: 10px;
  -webkit-box-shadow: none;
  background-color: #d63c5e;
  border: none;
  cursor: pointer;
  text-indent: 80px;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  text-overflow: '';
}

.trait-select-box:focus {
  outline: none;
}

.trait-select-box-label {
  position: absolute;
  font-size: 1em;
  z-index: 1;
  border-radius: 10px;
  color: white;
  height: 40px;
  line-height: 40px;
  text-indent: 20px;
  background-color: #d63c5e;
  /* border-right: 1px solid black; */
  padding-right: 40px;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  user-select: none;
  text-overflow: '';
}

.trait-divider {
  position: absolute;
  width: 2px;
  height: 100%;
  top: 0px;
  left: 100px;
  background: white;
}

.random-trait-icon {
  color: #d63c5e;
  font-size: 1.125em;
  margin-right: 5px;
  margin: 5px 20px 5px 0px;
  transition: transform 0.5s ease-in-out;
}

.random-trait-icon:hover {
  color: #d8234b;
  cursor: pointer;
  transform: rotate(360deg);
}

.invisible-icon {
  visibility: hidden;
  font-size: 1.125em;
  margin-right: 5px;
  margin: 5px 20px 5px 0px;
}
